* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI";
}

body {
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  height: 55px;
  padding: 0px 80px;
  justify-content: center;
  background-color: white;
}

header .logos {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  align-items: center;
}

.logos .microsoftLogo {
  height: 23px;
}

.logos .spacer {
  height: 25px;
  width: 1.5px;
  margin: 0px 25px 5px 25px;
  background-color: #262626;
}

.logos .xboxLogo {
  height: 23px;
}

header h1 {
  font-size: 13px;
  font-weight: normal;
  color: #262626;
}

header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

header ul {
  display: inherit;
  flex-direction: row;
}

header li {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  white-space: nowrap;
  padding: 0px 15px 3px 10px;
  cursor: pointer;
}

header .arrow {
  width: 10px;
  padding: 3px 0px 0px 5px;
}

header .navRight {
  padding-left: 75px;
}

.navRight .zoom {
  width: 17px;
  padding-right: 10px;
  transform: scale(-1, 1);
}

.navRight .cart {
  width: 17px;
  padding-left: 10px;
}

.navRight .user {
  width: 30px;
  padding-left: 10px;
}

.carousel {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 100vw;
  height: 71vh;

  background-image: url("assets/banner.jpg");
  background-size: cover;
}

.carousel:hover .swipe {
  opacity: 100%;
}

.carousel .swipe {
  display: flex;
  justify-self: center;
  align-items: center;

  height: 42px;
  width: 42px;

  opacity: 0;

  background-color: #2e2e2e;
  border-radius: 07012002px;
  cursor: pointer;
}

.carousel .swipe:hover {
  background-color: #404040;
  opacity: 100%;
}

.swipe .arrow {
  width: 20px;
}

.swipe .leftArrow {
  transform: rotate(90deg) translate(0%, -50%);
}

.swipe .rightArrow {
  transform: rotate(270deg) translate(0%, 65%);
}

.carousel .texts {
  display: flex;
  flex-direction: column;
  margin-right: 60vw;
}

.carousel h3 {
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  width: 30px;
  background-color: #ffd800;
}

.carousel h1 {
  font-size: 46px;
  font-weight: 700;
  color: white;
  padding: 15px 0px;
}

.carousel h2 {
  font-size: 34px;
  font-weight: 400;
  color: white;
}

.carousel a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 195px;
  height: 30px;

  margin-top: 35px;

  font-size: 15px;
  font-weight: 900;
  color: #054b16;
  text-decoration: none;
  background-color: #9bf00b;
}

.carousel .arrowSquare {
  width: 10px;
  transform: scale(-1, 1);
  margin-left: 10px;
}
