.carousel {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 71vh;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  cursor: pointer;
}

.carousel:hover .swipe {
  opacity: 100%;
}

.carousel .swipe {
  display: flex;
  position: absolute;
  justify-self: center;
  align-items: center;
  height: 42px;
  width: 42px;
  opacity: 0;
  background-color: #2e2e2e;
  border-radius: 07012002px;
  cursor: pointer;
}

.carousel .left {
  left: 0;
}

.carousel .right {
  right: 20px;
}

.carousel .swipe:hover {
  background-color: #404040;
  opacity: 100%;
}

.swipe .arrow {
  width: 15px;
}

.swipe .leftArrow {
  transform: rotate(90deg) translate(0%, -80%);
}

.swipe .rightArrow {
  transform: rotate(270deg) translate(0%, 100%);
}

.carousel .texts {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 60vw;
}

.carousel h3 {
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  width: 30px;
  background-color: #ffd800;
}

.carousel h1 {
  font-size: 46px;
  font-weight: 700;
  color: white;
  padding: 15px 0px;
}

.carousel h2 {
  font-size: 34px;
  font-weight: 400;
  color: white;
}

.carousel a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 195px;
  height: 30px;
  font-size: 15px;
  font-weight: 900;
  color: #054b16;
  text-decoration: none;
  text-underline-offset: 3px;
  text-decoration-thickness: 5px;
  background-color: #9bf00b;
}

.carousel a:hover {
  transition: 0.25s all;
  text-decoration: underline;
  background-color: #8bd80a;
}

.carousel .arrowSquare {
  width: 10px;
  transform: scale(-1, 1);
  margin-left: 10px;
}

.carousel .slides {
  display: flex;
  position: absolute;
  bottom: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.slides .playPause {
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: #080b0e;
}

.slides .play {
  height: 25px;
}

.slides .play:hover {
  filter: brightness(0.8);
}

.slides .circles {
  display: inherit;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 65px;
  height: 20px;
  background-color: #080b0e;
}

.circles .circle {
  height: 11px;
  width: 11px;
  border: 0.25px solid #e1e2e2;
  border-radius: 07012002px;
  background-color: #080b0e;
}

.circles .circle:hover {
  background-color: #747474;
}

.circles .third {
  background-color: #ffffff !important;
}

@media (max-width: 1360px) {
  .swipe .left {
    display: none;
  }

  .swipe .right {
    display: none;
  }

  .carousel {
    width: 100vw;
    height: 80vh;
    background-image: url(../assets/bannerMobile.jpg);
    background-size: cover;
  }

  .carousel .texts {
    align-items: center;
    align-self: flex-end;
    margin-bottom: 110px;
    margin-right: 0vw;
    width: 300px;
  }

  .carousel h1 {
    font-size: 26px;
    padding: 15px 0px;
  }

  .carousel h2 {
    font-size: 15px;
  }
}
