.headerDesktop {
  display: flex;
  flex-direction: row;
  height: 55px;
  padding: 0px 80px;
  justify-content: center;
  background-color: white;
}

.headerDesktop .logos {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  align-items: center;
}

.logos .microsoftLogo {
  height: 23px;
}

.logos .spacer {
  height: 25px;
  width: 1.5px;
  margin: 0px 25px 5px 25px;
  background-color: #262626;
}

.logos .xboxLogo {
  height: 23px;
}

.headerDesktop h1 {
  font-size: 13px;
  font-weight: normal;
  color: #262626;
}

.headerDesktop h1:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.headerDesktop nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.headerDesktop ul {
  display: inherit;
  flex-direction: row;
}

.headerDesktop li {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  white-space: nowrap;
  padding: 0px 15px 3px 10px;
  cursor: pointer;
}

.headerDesktop .arrow {
  width: 10px;
  padding: 3px 0px 0px 5px;
}

.headerDesktop .navRight {
  padding-left: 75px;
}

.navRight a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.navRight .zoom {
  width: 17px;
  padding-right: 10px;
  transform: translate(0%, 5%) scale(-1, 1);
}

.navRight .cart {
  width: 17px;
  padding-left: 10px;
  transform: translate(0%, 10%);
}

.navRight li .login {
  text-decoration: none;
}

.navRight li .logout {
  text-decoration: none;
}

.navRight .hidden {
  display: none;
}

.navRight .user {
  width: 30px;
  padding-left: 10px;
  transform: translate(0%, 5%);
}

.headerMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.navGeneral {
  display: flex;
  flex-direction: row;
  height: 53px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.headerMobile ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.headerMobile li {
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  /* padding-top: 4px; */
}

.headerMobile .navLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75px;
}

.headerMobile li .menu {
  height: 15px;
}

.headerMobile li .zoom {
  width: 18px;
  transform: scale(-1, 1);
}

.headerMobile li .microsoft {
  height: 22px;
  transform: translate(0%, 7%);
}

.headerMobile .navRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75px;
}

.headerMobile li .cart {
  height: 16px;
  padding: 0px;
  transform: translate(0%, -1%);
}

.headerMobile li .enter {
  font-size: 13px;
  font-weight: normal;
}

.navXbox {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 30px;
  width: 95%;
  padding: 3px 0px 0px 5vw;
  border-bottom: 1px solid #e6e6e6;
}

.logoXbox img {
  height: 19px;
}

.logoXbox .arrow {
  margin-left: 10px;
  height: 14px;
  transform: translate(0%, -5%);
}

@media (max-width: 1360px) {
  .headerDesktop {
    display: none;
  }
  .headerMobile {
    display: flex;
  }
}
