header {
  display: flex;
  flex-direction: row;
  height: 55px;
  padding: 0px 80px;
  justify-content: center;
  background-color: white;
}

header .logos {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
  align-items: center;
}

.logos .microsoftLogo {
  height: 23px;
}

.logos .spacer {
  height: 25px;
  width: 1.5px;
  margin: 0px 25px 5px 25px;
  background-color: #262626;
}

.logos .xboxLogo {
  height: 23px;
}

header h1 {
  font-size: 13px;
  font-weight: normal;
  color: #262626;
}

header nav {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

header ul {
  display: inherit;
  flex-direction: row;
}

header li {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  white-space: nowrap;
  padding: 0px 15px 3px 10px;
  cursor: pointer;
}

header .arrow {
  width: 10px;
  padding: 3px 0px 0px 5px;
}

header .navRight {
  padding-left: 75px;
}

.navRight .zoom {
  width: 17px;
  padding-right: 10px;
  transform: scale(-1, 1);
}

.navRight .cart {
  width: 17px;
  padding-left: 10px;
}

.navRight .user {
  width: 30px;
  padding-left: 10px;
}
