.modalLogin {
  display: none;
  position: fixed;
  z-index: 07012002;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0px;
}

.modalLogin .modalBackground {
  display: block;
  position: absolute;
  z-index: 07012003;
  height: 100%;
  width: 100%;
  background-color: #107c10;
}

.modalLogin .xbox {
  z-index: 07012004;
  height: 35px;
  filter: contrast(0%) brightness(200%);
}

.modalLogin .loginBox {
  display: none;
  z-index: 07012004;
  width: 350px;
  padding: 40px;
  margin-top: 25px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  background-color: white;
}

.modalLogin .registerBox {
  display: none;
  z-index: 07012004;
  width: 350px;
  padding: 40px;
  margin-top: 25px;
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  background-color: white;
}

.modalLogin .microsoft {
  height: 22px;
  margin-bottom: 10px;
}

.modalLogin h1 {
  font-weight: 500;
}

.modalLogin form {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15px;
}

.modalLogin input {
  height: 34px;
  border: none;
  border-bottom: 1.5px solid #006abf;
  font-size: 16px;
  margin-bottom: 10px;
}

.modalLogin input[type="submit"] {
  align-self: flex-end;
  width: 100px;
  border: none;
  background-color: #006abf;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.modalLogin h2 {
  font-size: 14px;
  font-weight: 300;
}

.modalLogin .blueText {
  color: #006abf;
  cursor: pointer;
}

.modalLogin .emailProblem {
  display: none;
  color: #cb4444;
}

.visible {
  display: flex !important;
}

.visibleBlock {
  display: block !important;
}
